@model Crm_v10.Models.Kullanicilar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card-box">
                <h2>Sil</h2>
                <h4 class="m-t-0 header-title">
                    <b>Kullanıcı Sil</b>
                </h4>

                <div class="form-horizontal">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Kullanıcı Kodu
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KullaniciKodu)
                        </dd>
                        <dt>
                            Kullanıcı Adı
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KullaniciAdi)
                        </dd>
                        <dt>
                            Kullanıcı Şifresi
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KullaniciSifresi)
                        </dd>
                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Sil" class="btn btn-default" /> |
                            @Html.ActionLink("Listeye Dön", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Kullanicilar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KullaniciKodu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullaniciKodu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullaniciAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KullaniciSifresi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullaniciSifresi)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@
