@model Crm_v10.Models.Kullanicilar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{ 
   @Html.AntiForgeryToken()
     
<div class="container">
    <div class="row col-sm-9">
        <h2>Kullanıcı Tanıtım Kartı</h2>

        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Ayarlar</a>
                </li>
                <li>
                    <a href="/Kullanicilars/Index">Kullanıcı Tanıtım Kartı</a>
                </li>
                <li>
                    <a href="#">Kullanıcı Bilgilerini Düzenle</a>
                </li>
            </ol>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kısayollar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12" style="background-color:white">
                        <table class="table datatable table-striped table-bordered" id="kisayol">
                            <thead>
                                <tr>
                                    <th>
                                        İşlevi
                                    </th>
                                    <th>
                                        Kısayolu
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Otomatik Cari Kod Tanımla</td>
                                    <td><kbd title="Kullanıcı kodunu girerken otomatik tamamlamak için Shift ve F1'e basınız">Shift + F1</kbd></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin-top:20px" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-sm-2">
        <a href="#" class="col-lg-3 btn btn-default col-lg-push-9" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-info-sign"></i></a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h2>Düzenle</h2>
                <h4 class="m-t-0 header-title">
                    <b>KULLANICI BİLGİELRİNİ DÜZENLE</b>
                </h4>
                <input type="hidden" id="sayfa" name="sayfa" value="Kullanicilars" />
                <div class="form-horizontal">
                    <hr />

                    <div class="form-group">
                        <div class="col-md-7">
                            <span class="control-label">(*) Alanlar Zorunlu Alanlardır .</span>
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.KullaniciKodu, "*Kullanıcı Kodu", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.KullaniciKodu, new { htmlAttributes = new { @class = "form-control koduTamamla", @maxlength = "5" } })
                            @Html.ValidationMessageFor(model => model.KullaniciKodu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.KullaniciAdi, "*Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.KullaniciSifresi, "*Kullanıcı Şifresi", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.KullaniciSifresi, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.KullaniciSifresi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SatisElemaniID, "*Satış Elemanı Kodu", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-7">
                            @Html.DropDownList("SatisElemaniID", (IEnumerable<SelectListItem>)ViewBag.SatisElemani, htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.SatisElemaniID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-default" /> |
                        @if (Session["KullaniciID"].ToString() == "0")
                        {
                            @Html.ActionLink("Listeye Dön", "Index")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


