@model Crm_v10.Models.GorevEkleme

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h2>Düzenle</h2>
                    <h4 class="m-t-0 header-title">
                        <b>GÖREV EKLE BİLGİLERİNİ DÜZENLE</b>
                    </h4>
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID, "Görev Kodu", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                <input type="text" name="GorevKodu" id="GorevKodu" disabled class="form-control" value="@Model.ID" />
                            </div>
                        </div>      
                        <div class="form-group">
                            @Html.LabelFor(model => model.Aciklama, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger", @maxlength = "500" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control date-picker" } })
                                @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelID, "Potansiyel Unvanı", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PotansiyelID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SatisElemaniID, "Satış Elemanı", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("SatisElemaniID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SatisElemaniID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TahminiTutar, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.TahminiTutar, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TahminiTutar, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GorevNot, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.GorevNot, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GorevNot, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Durum, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @*@Html.EditorFor(model => model.Durum, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("Durum", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Durum, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Oncelik, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @*@Html.EditorFor(model => model.Oncelik, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownList("Oncelik", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Oncelik, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-actions no-color">
                            <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-default" /> |
                            @Html.ActionLink("Listeye Dön", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
