@model Crm_v10.Models.Potansiyel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row col-sm-10">
            <h2>Potansiyel Tanıtım Kartı</h2>

            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Kartlar</a>
                    </li>
                    <li>
                        <a href="/Kullanicilars/Index">Poatansiyel Tanıtım Kartı</a>
                    </li>
                    <li>
                        <a href="#">Potansiyel Bilgilerini Düzenle</a>
                    </li>
                </ol>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Kısayollar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12" style="background-color:white">
                            <table class="table datatable table-striped table-bordered" id="kisayol">
                                <thead>
                                    <tr>
                                        <th>
                                            İşlevi
                                        </th>
                                        <th>
                                            Kısayolu
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Otomatik Potansiyel Kodu Tanımla</td>
                                        <td><kbd title="Potansiyel kodunu girerken otomatik tamamlamak için Shift ve F1'e basınız">Shift + F1</kbd></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="margin-top:20px" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-sm-2">
            <a href="#" class="col-lg-2 btn btn-primary col-lg-push-9" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-info-sign"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h2>Düzenle</h2>
                    <h4 class="m-t-0 header-title">
                        <b>POTANSİYEL BİLGİLERİNİ DÜZENLE</b>
                    </h4>
                    <div class="form-horizontal">
                        <input type="hidden" id="sayfa" name="sayfa" value="Potansiyels" />
                        <hr />
                        <div class="form-group">
                            <div class="col-md-7">
                                <span class="control-label">(*) Alanlar Zorunlu Alanlardır .</span>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelKodu, htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelKodu, "*Potansiyel Kodu" ,new { htmlAttributes = new { @class = "form-control koduTamamla", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelUnvani, "*Ünvanı", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelUnvani, new { htmlAttributes = new { @class = "form-control", @maxlength = "150" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelUnvani, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelAdresiUINKodu, "Adres UIN Kodu", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelAdresiUINKodu, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelAdresiUINKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(Model => Model.PotansiyelYetkiliID, "*Yetkili", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelYetkiliID", (IEnumerable<SelectListItem>)ViewBag.Yetkili, new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelAdresGpsEnlem, "GPS Enlem", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelAdresGpsEnlem, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelAdresGpsEnlem, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelAdresGpsBoylam, "GPS Boylam", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelAdresGpsBoylam, new { htmlAttributes = new { @class = "form-control", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelAdresGpsBoylam, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelAdresi, "Adresi", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.PotansiyelAdresi, new { @class = "form-control", @cols = 80, @rows = 2, @maxlength = "150" })
                                @Html.ValidationMessageFor(model => model.PotansiyelAdresi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(Model => Model.PotansiyelUlkeKodu, "*Ülke", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelUlkeKodu", (IEnumerable<SelectListItem>)ViewBag.Ulke, new { @class = "form-control select2" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelUlkeKodu, "Ülke Kodu", htmlAttributes: new { @class = "control-label col-md-2", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelUlkeKodu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelUlkeKodu, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">

                            @Html.LabelFor(Model => Model.PotansiyelIl, "*İl", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelIl", (IEnumerable<SelectListItem>)ViewBag.Il, new { @class = "form-control select2" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelIl, "İl", htmlAttributes: new { @class = "control-label col-md-2", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelIl, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelIl, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelIlce, "İlçe", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelIlce, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelIlce, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelVergiDairesi, "Vergi Dairesi", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelVergiDairesi, new { htmlAttributes = new { @class = "form-control",@maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelVergiDairesi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelVergiNumarasi, "Vergi Numarası", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelVergiNumarasi, new { htmlAttributes = new { @class = "form-control",@maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelVergiNumarasi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelWebAdresi, "Web Adresi", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelWebAdresi, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelWebAdresi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelSektorID, "*Sektör", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelSektorID", (IEnumerable<SelectListItem>)ViewBag.Sektor, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.PotansiyelSektorID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelNot, "Not", htmlAttributes: new { @class = "control-label col-md-4", @required = "" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.PotansiyelNot, new { @class = "form-control", @cols = 80, @rows = 10, @maxlength = "2000" })
                                @Html.ValidationMessageFor(model => model.PotansiyelNot, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(Model => Model.PotansiyelSatisElemani, "*Satış Elemanı", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.DropDownList("PotansiyelSatisElemani", (IEnumerable<SelectListItem>)ViewBag.SatisElemani, new { @class = "form-control select2" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.PotansiyelSatisElemani, "Satış Elemanı", htmlAttributes: new { @class = "control-label col-md-2", @required = "" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.PotansiyelSatisElemani, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PotansiyelSatisElemani, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-actions no-color">
                            <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-default" /> |
                            @Html.ActionLink("Listeye Dön", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

