@model IEnumerable<Crm_v10.Models.MailYedeklemeLog>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row col-sm-10">
        <h2>Mail Yedekleme Log Kayıtları</h2>
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Ayarlar</a>
                </li>
                <li>
                    <a href="/MailYedeklemeLogs/Index">Mail Yedekleme Logları</a>
                </li>
                <li>
                    <a href="#">Index</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100.4px;">Kullancı Kodu</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100.4px;">Kullancı Adı</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Tarih</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Saat</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Cevap</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Kullanicilar.KullaniciKodu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Kullanicilar.KullaniciAdi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tarih)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Saat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cevap)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>